

<md-dialog aria-label="{{ dayString }}" id="dayDialogElement">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-icon md-svg-icon="md-tabs-arrow" aria-hidden="true">
                    <svg version="1.1" x="0px" y="0px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                    <g><polygon points="15.4,7.4 14,6 8,12 14,18 15.4,16.6 10.8,12 "></polygon></g></svg>
                </md-icon>

                <h2 class="prenotaDate">{{ dayString }}</h2>
                <span flex></span>

                <md-icon md-svg-icon="md-tabs-arrow" aria-hidden="true" style="transform: rotate(180deg)" ng-click="move(1)">
                    <svg version="1.1" x="0px" y="0px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                    <g><polygon points="15.4,7.4 14,6 8,12 14,18 15.4,16.6 10.8,12 "></polygon></g></svg>
                </md-icon>
                <!-- <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>-->

            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-stretch-tabs="always">
                <md-tab label="PRENOTA">
                    <md-content ng-controller="PrenotazioneCtrl" ng-init="init(day)">
                        <md-content layout-padding>
                            <div layout="row" ng-hide="isSunday">
                                <md-input-container>
                                    <label>Seleziona</label>
                                    <md-select ng-model="sRoomType" ng-change="getPrenotazioni()" size="20">
                                       <md-option>
                                            LABORATORIO
                                        </md-option>
                                        <md-option>
                                            AULA
                                        </md-option>
                                    </md-select>
                                    </md-input-container>
                            </div>
                            <div layout="row" layout-align="center">
                                <div compile="htmlTable" id="orario"></div>
                            </div>
                        </md-content>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>        
    </form>
</md-dialog>

