<md-dialog aria-label="{{ prenotazione }}" id="dayDialogConfermaElement">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ prenotazione }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-stretch-tabs="always">
                <md-tab label="CONFERMA">
                    <md-content ng-controller="PrenotazioneCtrl">
                        <md-content layout-padding>
                            <div layout="row">
                                <md-input-container>
                                    <label>Classe</label>
                                    <md-select ng-model="sClass" ng-change="" size="20">
                                        <md-option ng-repeat="class in classes" value="{{class}}">
                                            {{class}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                    <md-button class="md-raised md-primary" ng-disabled="sClass==undefined" ng-click="prenota()" style="position:absolute; right:0;" >CONFERMA</md-button>
                            </div>
                        </md-content>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>        
    </form>
</md-dialog>
