<md-progress-circular md-mode="indeterminate" ng-show="loading"></md-progress-circular>
<md-dialog aria-label="{{ prenotazione }}" id="dayDialogConfermaElement">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ prenotazioneString }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-stretch-tabs="always">
                <md-tab label="CONFERMA">
                    <md-content ng-controller="ConfermaPrenotazioneCtrl" ng-init="init()">
                        <md-content layout-padding>
                            <div layout="row" ng-show="admin">
                                <md-input-container class="md-block" flex>
                                    <label>Seleziona</label>
                                    <md-select ng-change="clearMdSelect()" ng-model="tipoPrenotazione">
                                        <md-option>
                                            Classe
                                        </md-option>
                                        <md-option>
                                            Progetto
                                        </md-option>
                                        <md-option>
                                            Ricevimento generale
                                        </md-option>
                                        <md-option>
                                            Consiglio di classe
                                        </md-option>
                                        <md-option>
                                            Altro
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container ng-show="tipoPrenotazione=='Classe'||tipoPrenotazione=='Ricevimento generale'
                                ||tipoPrenotazione=='Consiglio di classe'">
                                    <label>Classe</label>
                                    <md-select ng-model="sClass">
                                        <md-option ng-repeat="class in classes" value="{{class}}">
                                            {{class}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container ng-show="tipoPrenotazione=='Progetto'">
                                    <label>Progetto</label>
                                    <md-select ng-model="sProgetto">
                                        <md-option ng-repeat="progetto in progetti" value="{{progetto}}">
                                            {{progetto}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container ng-show="tipoPrenotazione=='Altro'">
                                    <label>Descrizione</label>
                                    <input size="50" ng-model="sDescrizione">                                    
                                </md-input-container>                              
                                <md-input-container>
                                    <div layout="row" layout-align="space-between center">
                                        <md-button class="md-raised md-primary" ng-disabled="
                                        (sClass==undefined||sClass=='')&&sProgetto==undefined&&(sDescrizione==undefined||sDescrizione=='')||disabled
                                        " ng-click="prenota()" class="md-block" flex >
                                            CONFERMA
                                        </md-button>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" ng-hide="admin">
                                <md-input-container class="md-block" flex>
                                    <label>Classe</label>
                                    <md-select ng-model="sClass">
                                        <md-option ng-repeat="class in classes" value="{{class}}">
                                            {{class}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>                                
                                <md-input-container>
                                    <div layout="row" layout-align="space-between center">
                                        <md-button class="md-raised md-primary" ng-disabled="sClass==undefined||sClass==''||disabled" ng-click="prenota()" class="md-block" flex >
                                            CONFERMA
                                        </md-button>
                                    </div>
                                </md-input-container>
                            </div>
                        </md-content>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>        
    </form>
</md-dialog>
