<div ng-controller="InsertCtrl" style="height: 100% !important;" layout-fill>
    <style type="text/css">
    .selectdemoSelectHeader {
        /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
    }
    
    .selectdemoSelectHeader .demo-header-searchbox {
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        padding: 0;
    }
    
    .selectdemoSelectHeader .demo-select-header {
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
        padding-left: 10.667px;
        height: 48px;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        width: auto;
    }
    
    .selectdemoSelectHeader md-content._md {
        max-height: 240px;
    }
    </style>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Open sidenav" ng-click="toggleLeft()" hide-gt-md>
                <i class="material-icons">menu</i>
            </md-button>
            <h2>
              <span>Inserisci evento</span>
            </h2>
            <span flex=""></span>
            <span align="right">
            <a href="/marconitt/ReadMe-operazioni_utente.html" target="_blank">
            <md-tooltip md-direction='bottom'>guida agli utenti</md-tooltip>
            <i class="material-icons">help</i>
            </a>
            </span>
        </div>
    </md-toolbar>
    <div layout="row" layout-sm="column" layout-align="center center" ng-show="isLoading" layout-fill>
        <md-progress-circular md-mode="indeterminate" md-diameter="200"></md-progress-circular>
    </div>
    <md-content layout="row" layout-align="center center" style="height: calc(100% - 64px) !important;">
        <form name="insertForm" flex="80">
            <div layout="column">
                <div layout="row">
                    <md-input-container flex>
                        <label style="color:#15629E;">Descrizione</label>
                        <textarea ng-model="event.description" placeholder="Descrizione dell'evento"></textarea>
                    </md-input-container>
                    <md-datepicker ng-model="event.day" md-placeholder="Seleziona data.." md-open-on-focus ></md-datepicker>
                </div>
                <div layout="row" layout-align="space-between center">

                    <mdp-time-picker ng-model="event.hourStart"><span style="color:#15629E;">Ora inizio</span></mdp-time-picker>

                    <mdp-time-picker ng-model="event.hourEnd"><span style="color:#15629E">Ora fine</span></mdp-time-picker>
                    <md-input-container>
                        <label>Classi</label>
                        <md-select ng-model="event.classes" data-md-container-class="selectdemoSelectHeader" multiple placeholder="Seleziona classi..">
                            <md-optgroup label="Classi">
                                <md-option ng-repeat="classe in classes" value="{{classe}}">
                                            {{classe}}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>Aule</label>
                        <md-select ng-model="event.rooms" data-md-container-class="selectdemoSelectHeader" multiple placeholder="Seleziona aule..">
                            <md-optgroup label="Aule">
                                <md-option ng-repeat="room in eventsRooms" value="{{room}}">
                                            {{room}}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
                <md-button class="md-raised md-primary" ng-click="insert()" ng-disabled="!event.description||event.rooms.length==0">Inserisci</md-button>
            </div>
        </form>
    </md-content>
</div>
<!--aule speciali
A304
Aula magna
L042
-->