<div ng-controller="PrenotazioniUtenteCtrl" ng-init="init()" layout-fill style="height: 100% !important;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Open sidenav" ng-click="toggleLeft()" hide-gt-md>
                <i class="material-icons">menu</i>
            </md-button>
            <h2>
			<span>Le mie prenotazioni</span>
            </h2>
            <span flex=""></span>
        </div>
    </md-toolbar>
          <div layout="row" layout-sm="column" layout-align="center center" ng-show="caricamentoPrenotazioni" layout-fill>
        <md-progress-circular md-mode="indeterminate" md-diameter="200"></md-progress-circular>
      </div>
    <md-content>
        <md-tabs md-dynamic-height md-stretch-tabs="always">
            <md-tab label="LE MIE PRENOTAZIONI">
                <md-list>
                    <md-list-item ng-repeat="prenotazione in prenotazioni" class="md-3-line">
                        <div class="md-list-item-text">
                            <h3>{{prenotazione.giorno}}</h3>
                            <h4>{{prenotazione.stanza}} {{prenotazione.ora}}°ORA</h4>
                            <p>{{prenotazione.risorsa}}</p>
                        </div>
                        <i style="color: grey; margin-right: 3%; margin-top: 3%" ng-show="prenotazione.approvata==0&&!admin" class="material-icons">pan_tool</i>
                        <i style="color:green; margin-right: 3%; margin-top: 3%" ng-show="prenotazione.approvata==1&&!admin" class="material-icons">done</i>
                        <md-button style="background-color: #2196F3; color:white; margin-right: 2%; margin-top: 2.5%;" class="md-raised" ng-click="removePrenotazione(prenotazione.giorno, prenotazione.stanza, prenotazione.risorsa, prenotazione.ora)" class="md-block">
                            RIMUOVI
                        </md-button>
                        <!--<a ng-disabled="disabled" style="color:red; margin-right: 2%; margin-top: 3%;cursor: pointer;" ng-click="removePrenotazione(prenotazione.giorno, prenotazione.stanza, prenotazione.risorsa, prenotazione.ora)">
                            <i class="material-icons">delete</i>
                        </a>-->                        
                        <md-divider></md-divider>
                    </md-list-item>
                    <span> </span>
                </md-list>
            </md-tab>              
            <md-tab ng-if="admin" label="DA APPROVARE">
                <md-list>
                    <md-list-item ng-repeat="prenotazione in prenotazioniDaApprovare" class="md-3-line">
                        <div class="md-list-item-text">
                            <h3>{{prenotazione.giorno}}</h3>
                            <h4>{{prenotazione.stanza}} {{prenotazione.ora}}°ORA</h4>
                            <p>{{prenotazione.risorsa}}</p>
                            <p>Richiedente: {{prenotazione.who}}</p>
                        </div>
                        <md-button style="background-color: #2196F3; color:white; margin-right: 1%; margin-top: 2.5%" class="md-raised" ng-click="approva()" class="md-block" >
                            APPROVA
                        </md-button>
                        <md-button style="background-color: #2196F3; color:white; margin-right: 2%; margin-top: 2.5%" class="md-raised" ng-click="nonApprova(prenotazione.giorno, prenotazione.stanza, prenotazione.risorsa, prenotazione.ora)" class="md-block" >
                            NON APPROVA
                        </md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                    <span> </span>
                </md-list>
            </md-tab>  
            <md-tab ng-if="admin" label="EVENTI CREATI">
                <!--
                <md-list>
                    <md-list-item ng-repeat="prenotazione in prenotazioni" class="md-3-line">
                        <div class="md-list-item-text">
                            <h3>{{prenotazione.giorno}}</h3>
                            <h4>{{prenotazione.stanza}} {{prenotazione.ora}}°ORA</h4>
                            <p>{{prenotazione.risorsa}}</p>
                        </div>
                        <md-button ng-disabled="disabled" ng-click="removePrenotazione(prenotazione.giorno, prenotazione.stanza, prenotazione.risorsa, prenotazione.ora)"
                            style="color:#2196F3" class="md-raised md-secondary">Rimuovi</md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                    <span> </span>
                </md-list>-->
            </md-tab>                    
        </md-tabs>            
    </md-content>
</div>
