<md-dialog aria-label="{{ dayString }}" id="dayDialogElement">
    <form>
        <md-toolbar>
           <div class="md-toolbar-tools">
                <md-icon md-svg-icon="md-tabs-arrow" aria-hidden="true" style="cursor: pointer;" ng-click="previousDay()">
                    <svg version="1.1" x="0px" y="0px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                    <g><polygon points="15.4,7.4 14,6 8,12 14,18 15.4,16.6 10.8,12 "></polygon></g></svg>
                </md-icon>

                <h2 style="text-align: center; width: 100%">{{ dayString }}</h2>
                <span flex></span>

                <md-icon md-svg-icon="md-tabs-arrow" aria-hidden="true" style="transform: rotate(180deg); cursor: pointer;" ng-click="nextDay()">
                    <svg version="1.1" x="0px" y="0px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                    <g><polygon points="15.4,7.4 14,6 8,12 14,18 15.4,16.6 10.8,12 "></polygon></g></svg>
                </md-icon>

                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-stretch-tabs="always">
                <md-tab label="situazione del giorno">
                    <md-content ng-controller="OrarioCtrl" ng-init="init(day)">
                        <md-content layout-padding>
                            <div layout="row" ng-hide="isSunday">                             
                                <md-input-container>
                                    <label>Classe</label>
                                    <md-select ng-model="sClass" ng-change="getOrarioClass()" size="20">
                                        <md-option ng-repeat="class in classes" value="{{class}}">
                                            {{class}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" flex>
                                    <label>Insegnante</label>
                                    <md-select ng-model="sTeacher" ng-change="getOrarioTeacher()">
                                        <md-option ng-repeat="teacher in teachers" value="{{teacher}}">
                                            {{teacher}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" flex>
                                    <label>Aula</label>
                                    <md-select ng-model="sRoom" ng-change="getOrarioRoom()">
                                        <md-option ng-repeat="room in rooms" value="{{room}}">
                                            {{room}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-align="center">
                                <div compile="htmlTable" id="orario"></div>
                            </div>
                        </md-content>
                    </md-content>
                </md-tab>
                <md-tab label="eventi" >
                    <md-content class="md-padding" ng-controller="EventCtrl" ng-init="init()">     <!--inizializza alla scelta del giorno-->
                        <h4 ng-show="isEmpty" style="text-align: center; width: 100%; padding-top: 5%">Nessun evento in programma per oggi!</h4>
                            <md-list style="">                    
                                <md-list-item ng-repeat="evento in eventsArray" class="md-3-line">
                                    <div class="md-list-item-text">
                                        <h3>{{evento.descrizione}}</h3>
                                        <h4>Orario: {{evento.orainizio}} - {{evento.orafine}}</h4>
                                        <p>Classi: {{evento.classi}}</p>
                                        <p>Aule: {{evento.stanze}}</p>
                                    </div>                                                  
                                    <md-divider></md-divider>
                                </md-list-item>
                                <span> </span>
                            </md-list>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
    </form>
</md-dialog>
